<footer>
    <img id="hfmt_logo" src="assets/images/hfmt-logos.png" />
   
    <div id="imprint" class="white-on-black-text">imprint/data protection </div>

</footer>

<script>
    
    window.addEventListener("load", ()=>{

        document.querySelectorAll(".menu_item").forEach( e =>{
            console.log("setting event for ", e);

            e.addEventListener("click", ()=>{
                console.log("hi");
                window.location.href = e.innerHTML.toLowerCase()+".html";
            })
        
        });

        document.getElementById("drawsocket").addEventListener("click", ()=>{
            window.location.href = "index.html";
        })

        document.querySelector(".logo").addEventListener("click", ()=>{
            window.location.href = "index.html";
        })

    })
</script>
