<div class="logo">
    <img src="assets/images/drawsocket_logo_72.png" />
</div>
<header>
    <div class="menu_wrapper">
        <div class="menu_item">about</div>
        <div class="menu_item">intro</div>
        <div class="menu_item">examples</div>
        <div class="menu_item">API</div>
        <div class="menu_item">download</div>
    </div>
    <div id="drawsocket">drawsocket</div>
</header>

<script>
    
    window.addEventListener("load", ()=>{

        document.querySelectorAll(".menu_item").forEach( e =>{
            console.log("setting event for ", e);

            e.addEventListener("click", ()=>{
                console.log("hi");
                window.location.href = e.innerHTML.toLowerCase()+".html";
            })
        
        });
    })
</script>
