---
layout: default
---

<ul id="api_menu"></ul>

<div id="main_text"> 
{{ content }}
</div>


<script>
window.addEventListener("load", ()=> {

    let menu = document.getElementById("api_menu");

    let keyArr = [];
    document.querySelectorAll('.api_key').forEach( e => {
        
        let menuItem = document.createElement("li");
        menuItem.classList.add("api_menu_item");
        menuItem.innerHTML = e.innerHTML;

        keyArr.push({
            el: menuItem,
            y: e.getBoundingClientRect().y + window.scrollY
        })
        
        menuItem.addEventListener("click", ()=>{
            window.location.hash = e.id;

            document.querySelectorAll(".selected").forEach( s => {
                s.classList.remove("selected");
            })

            menuItem.classList.add("selected");

        })
        
        menu.appendChild(menuItem);
    })

    keyArr.sort((a,b) => (a.y > b.y) ? 1 : ((b.y > a.y) ? -1 : 0));
    console.log(keyArr);

    document.addEventListener("scroll", (event) => {

        let scrollPos = window.scrollY + 50;
        let idx = 0;
        for( let i = 0; i < keyArr.length-1; i++) {
            if( keyArr[i+1].y > scrollPos )
            {
                idx = i;
                break;
            }
        }
        console.log(keyArr[idx]);
        document.querySelectorAll(".selected").forEach( s => {
            s.classList.remove("selected");
        })
        
        keyArr[idx].el.classList.add("selected");

    });
    

})
</script>