
<link rel="stylesheet" href="./api-menu.css" />

<ul id="menu"></ul>

<div id="main_text"> <!--  markdown="1" -->
{{ content }}
</div>


<script>

window.addEventListener("load", ()=>{
    let menu = document.getElementById("menu");
    document.querySelectorAll('.api_key').forEach( e => {
        
        let menuItem = document.createElement("li");
        menuItem.classList.add("menu_item");
        menuItem.innerHTML = e.id;

        menuItem.addEventListener("click", ()=>{
            e.scrollIntoView(true);
        })
        
        menu.appendChild(menuItem);
    })
})
</script>