---
layout: default
---

<ul id="api_menu"></ul>

<div id="main_text"> 
{{ content }}
</div>


<script>
window.addEventListener("load", ()=> {

    let menu = document.getElementById("api_menu");
    document.querySelectorAll('.api_key').forEach( e => {
        
        let menuItem = document.createElement("li");
        menuItem.classList.add("api_menu_item");
        menuItem.innerHTML = e.innerHTML;

        menuItem.addEventListener("click", ()=>{
            window.location.hash = e.id;

            menu.querySelectorAll(".selected").forEach( s => {
                s.classList.remove("selected");
            })

            menuItem.classList.add("selected");

        //   e.scrollIntoView(true);
        //    const y = e.getBoundingClientRect().top + window.pageYOffset - 50;
        //    window.scrollTo({top: y});
        })
        
        menu.appendChild(menuItem);
    })

/*
    // Cache selectors
var topMenu = $("#top-menu"),
    topMenuHeight = topMenu.outerHeight()+15,
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;

   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";
   // Set/remove active class
   menuItems
     .parent().removeClass("active")
     .end().filter("[href='#"+id+"']").parent().addClass("active");
});​

*/
})
</script>